<div class="flex flex-col items-center mt-10">
    <p-table
        [value]="posts"
        [paginator]="true"
        class="w-4/5 mt-5"
        [rowsPerPageOptions]="[10, 20, 30]"
        [rows]="itemsPerPage"
        [totalRecords]="totalPages"
        [lazy]="true"
        (onPage)="onPageChange($event)"
        [loading]="loading"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Créé par</th>
                <th>Le</th>
                <th>Titre</th>
                <th>Image</th>
                <th>Contenu</th>
                <th>Supprimer</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-post>
            <tr>
                <td>{{ post.id }}</td>
                <td>
                    {{ post.createdBy.firstname + ' ' + post.createdBy.lastname }} ({{
                        post.createdBy.username
                    }})
                </td>
                <td>{{ post.createdAt | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>{{ post.title }}</td>
                <td>
                    <p-button
                        icon="pi pi-eye"
                        [rounded]="true"
                        (onClick)="openImageDialog(post.image.url)"
                    />
                </td>
                <td>
                    <p-button
                        icon="pi pi-eye"
                        [rounded]="true"
                        (onClick)="openContentDialog(post.content)"
                    />
                </td>
                <td>
                    <p-button
                        icon="pi pi-trash"
                        [rounded]="true"
                        severity="danger"
                        (onClick)="deletePost(post.id)"
                    />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [(visible)]="dialogImage" *ngIf="dialogImage" [modal]="true">
    <p-image [src]="selectedImage" alt="Image" width="500" />
</p-dialog>

<p-dialog
    [modal]="true"
    [(visible)]="dialogContent"
    *ngIf="dialogContent"
    [style]="{ width: '40rem' }"
>
    <span>{{ selectedContent }}</span>
</p-dialog>
