<p-toast></p-toast>
<div class="cart-container">
    <div class="flex flex-row gap-4">
        <div class="flex flex-col gap-4 max-h-[550px] overflow-auto">
            <div *ngFor="let item of cartItems" class="cart-item">
                <p-card>
                    <ng-template pTemplate="header">
                        <div class="item-header">
                            <div class="flex flex-row gap-2 text-[var(--primary)]">
                                <div class="relative w-10">
                                    <img
                                        ngSrc="assets/poi/ticket_asset.png"
                                        alt="Ticket"
                                        class="absolute object-fill"
                                        fill
                                    />
                                </div>
                                <span class="item-category">Billets</span>
                            </div>
                            <button
                                pButton
                                icon="pi pi-trash"
                                class="p-button-rounded p-button-text"
                                (click)="removeItem(item)"
                            ></button>
                        </div>
                    </ng-template>
                    <div class="flex flex-row gap-3">
                        <div class="item-content">
                            <button
                                pButton
                                icon="pi pi-check"
                                class="p-button-rounded p-button-text close-button"
                            ></button>
                            <div class="item-details">
                                <h3>{{ item.title }}</h3>
                                <h4>{{ item.poi.name }}</h4>
                                <p>{{ item.description }}</p>
                            </div>
                        </div>
                        <div class="h-44 w-[2px] bg-gray-200"></div>
                        <div class="text-center ml-auto">
                            <div class="item-price">
                                <span>{{ item.price }} €</span>
                            </div>
                            <div class="item-footer">
                                <button
                                    pButton
                                    icon="pi pi-minus"
                                    class="p-button-rounded p-button-text hover-button"
                                    (click)="updateQuantity(item, item.quantity - 1)"
                                ></button>
                                <p-inputNumber
                                    [(ngModel)]="item.quantity"
                                    [min]="1"
                                    (onInput)="updateQuantity(item, item.quantity)"
                                ></p-inputNumber>
                                <button
                                    pButton
                                    icon="pi pi-plus"
                                    class="p-button-rounded p-button-text close-button"
                                    (click)="updateQuantity(item, item.quantity + 1)"
                                ></button>
                            </div>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
        <div
            class="bg-[var(--primary)] p-4 flex flex-col justify-center rounded-xl text-white ml-auto"
        >
            <div class="cart-total">
                <h3 class="text-2xl">Total</h3>
                <span class="text-2xl">{{ getTotal }} €</span>
            </div>
            <div class="mt-6 h-[2px] w-full bg-white"></div>
            <button
                pButton
                label="Passer au paiement"
                class="payment-button"
                [disabled]="cartItems.length === 0"
                (click)="pay()"
            ></button>
        </div>
    </div>
</div>
<app-payment-card
    [showPaymentDialog]="showPaymentDialog"
    [paymentIntent]="paymentIntent"
    (closeDialog)="closeDialog()"
    (emitter)="updateCartItems()"
    [amount]="getTotal"
></app-payment-card>
