<p-toast></p-toast>
<p-dialog
    header="Places vendues"
    [(visible)]="displayDialog"
    [modal]="true"
    [closable]="true"
    [style]="{ width: '500px' }"
    (onHide)="closeDialog.emit()"
>
    <div class="dialog-content">
        <div class="summary">
            <span *ngIf="hasTicket"
                >{{ total }} acheté{{ total > 1 ? 's' : '' }} - {{ waitingTotal }} en attente{{
                    waitingTotal > 1 ? 's' : ''
                }}</span
            >
        </div>
        <div *ngFor="let user of members" class="user-card">
            <p-card>
                <div class="user-info">
                    <p-avatar [image]="user.avatar?.url" size="large"></p-avatar>
                    <div class="user-details">
                        <div class="user-name">{{ user.firstname }}</div>
                        <div class="user-username">&#64;{{ user.username }}</div>
                    </div>
                    <div *ngIf="hasTicket" class="user-status">
                        <span class="status-label">Statut</span>
                        <span
                            [ngClass]="{
                                'status-purchased': user.hasPaid,
                                'status-pending': !user.hasPaid
                            }"
                            >{{ user.hasPaid ? 'Billet acheté' : 'En attente' }}</span
                        >
                        <button
                            pButton
                            label="Bannir l'utilisateur"
                            icon="pi pi-ban"
                            class="p-button-danger mt-2"
                            *ngIf="owner"
                            [disabled]="userId === user.id"
                            (click)="visibleBan = true"
                        ></button>
                    </div>
                </div>
                <p-dialog
                    header="Bannir l'utilisateur"
                    [modal]="true"
                    [draggable]="false"
                    [(visible)]="visibleBan"
                    [style]="{ width: '25rem' }"
                >
                    <span class="p-text-secondary block mb-5"
                        >Êtes vous sur de vouloir bannir {{ user.firstname }} de ce meet ? En le
                        bannissant celui-ci ne pourra plus revenir dans le meet ensuite</span
                    >
                    <div class="flex justify-content-end gap-2">
                        <p-button label="Non" severity="secondary" (click)="visibleBan = false" />
                        <p-button label="Oui" (click)="banUser(user)" />
                    </div>
                    <p-progressBar
                        mode="indeterminate"
                        *ngIf="loading"
                        [style]="{ height: '6px', width: '100%' }"
                    ></p-progressBar>
                </p-dialog>
            </p-card>
        </div>
    </div>
</p-dialog>
