<p-card>
    <ng-template pTemplate="header">
        <div class="font-bold text-[var(--primary)] text-xl">
            {{ nbrParticipants }} participants, {{ userCount }} actuellement
        </div>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="flex flex-row gap-4">
            <p-avatarGroup styleClass="mb-3">
                <p-avatar
                    *ngFor="let user of users | slice: 0 : 7"
                    [image]="user.avatar?.url"
                    size="large"
                    shape="circle"
                />
                <p-avatar
                    *ngIf="users.length > 7"
                    [label]="(users.length - 7).toString()"
                    shape="circle"
                    size="large"
                    [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"
                />
            </p-avatarGroup>
            <button
                *ngIf="!isOwner && !hasJoined"
                pButton
                (click)="visibleJoinMeet = true"
                [disabled]="isLocked || !canJoin"
                type="button"
                label="Je rejoins"
                icon="pi pi-user-plus"
                class="p-button-rounded p-button-text"
            ></button>
            <button
                *ngIf="!isOwner && hasJoined"
                (click)="visibleLeaveMeet = true"
                [disabled]="isLocked"
                pButton
                type="button"
                label="Je quitte le meet"
                icon="pi pi-user-plus"
                class="p-button-rounded p-button-text"
            ></button>
        </div>
        <!--        <button
            pButton
            type="button"
            label="Inviter des amis"
            icon="pi pi-users"
            class="w-full"
            [disabled]="isLocked"
            [rounded]="true"
        ></button>-->
        <button
            pButton
            (click)="payMeet()"
            type="button"
            [disabled]="hasPaid || isLocked || !hasTicketMeet"
            label="Je paye mon billet"
            class="w-full mt-6"
            [rounded]="true"
        ></button>
    </ng-template>
</p-card>
<p-dialog
    header="Rekoindre le meet"
    [modal]="true"
    [(visible)]="visibleJoinMeet"
    [style]="{ width: '25rem' }"
>
    <span class="p-text-secondary block mb-5">Êtes vous sur de vouloir rejoindre ce meet ?</span>
    <div class="flex justify-content-end gap-2">
        <p-button label="Non" severity="secondary" (click)="visibleJoinMeet = false" />
        <p-button label="Oui" (click)="joinMeet()" />
    </div>
    <p-progressBar
        mode="indeterminate"
        *ngIf="loading"
        [style]="{ height: '6px', width: '100%' }"
    ></p-progressBar>
</p-dialog>

<p-dialog
    header="Quitter le meet ?"
    [modal]="true"
    [(visible)]="visibleLeaveMeet"
    [style]="{ width: '25rem' }"
>
    <span class="p-text-secondary block mb-5"
        >Êtes vous sur de vouloir quitter ce meet ? Si vous avez payé votre billet, celui-ci vous
        sera remboursé en intégralité</span
    >
    <div class="flex justify-content-end gap-2">
        <p-button label="Non" severity="secondary" (click)="visibleLeaveMeet = false" />
        <p-button label="Oui" (click)="leaveMeet()" />
    </div>
    <p-progressBar
        mode="indeterminate"
        *ngIf="loading"
        [style]="{ height: '6px', width: '100%' }"
    ></p-progressBar>
</p-dialog>

<app-payment-card
    [showPaymentDialog]="showPaymentDialog"
    [paymentIntent]="paymentIntent"
    (closeDialog)="closePaymentDialog()"
></app-payment-card>
