<div class="flex flex-col items-center mt-10">
    <div class="flex w-4/5 justify-center">
        <div class="w-3/5">
            <input
                type="text"
                pInputText
                class="w-full"
                [(ngModel)]="search"
                (input)="debouncedSearch()"
                placeholder="Rechercher par nom, ville"
            />
        </div>
        <div class="w-1/5 ml-5">
            <p-button
                [style]="{ width: '100%' }"
                icon="pi pi-user-plus"
                [rounded]="true"
                (click)="openSaveDialog()"
                label="Créer un poi"
            />
        </div>
    </div>
    <p-table
        [value]="pois"
        [paginator]="true"
        class="w-4/5 mt-10"
        [rowsPerPageOptions]="[10, 20, 30]"
        [rows]="itemsPerPage"
        [totalRecords]="totalPages"
        [lazy]="true"
        (onPage)="onPageChange($event)"
        [loading]="loading"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Image</th>
                <th>Description</th>
                <th>Modifier</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-poi>
            <tr>
                <td>{{ poi.id }}</td>
                <td>{{ poi.name }}</td>
                <td>
                    {{
                        (poi.address ? poi.address + ', ' : ' ') +
                            poi.city.name +
                            ' (' +
                            poi.city.zipCode +
                            ')'
                    }}
                </td>
                <td>
                    <p-button
                        icon="pi pi-eye"
                        [rounded]="true"
                        (onClick)="openImageDialog(poi.cover.url)"
                    />
                </td>
                <td class="text-center">
                    <p-button
                        icon="pi pi-eye"
                        [rounded]="true"
                        (onClick)="openDescriptionDialog(poi.description)"
                    />
                </td>
                <td class="text-center">
                    <p-button
                        icon="pi pi-pencil"
                        [rounded]="true"
                        (onClick)="openSaveDialog(poi.id)"
                    />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [style]="{ width: '30rem' }" [(visible)]="saveDialog" *ngIf="saveDialog" [modal]="true">
    <div class="w-full flex items-center flex-col">
        <p-floatLabel class="w-full mt-5" *ngIf="!selectedId">
            <p-dropdown
                [options]="types"
                [(ngModel)]="poi.type"
                placeholder="Type"
                optionLabel="name"
                [style]="{ width: '100%' }"
            />
            <label>Type</label>
        </p-floatLabel>
        <div class="flex w-full">
            <p-fileUpload
                class="mt-8 w-full"
                mode="basic"
                #fileUpload
                accept="image/*"
                maxFileSize="4000000"
                chooseIcon="pi pi-upload"
                chooseLabel="Couverture"
                invalidFileSizeMessageSummary="Taille de fichier invalide"
                invalidFileSizeMessageDetail="La taille du fichier doit être inférieure à 4 Mo"
                invalidFileLimitMessageDetail="Vous ne pouvez pas uploader plus de 1 fichier"
                invalidFileTypeMessageDetail="Seuls les fichiers de type image sont autorisés"
                invalidFileLimitMessageSummary="Nombre de fichiers invalide"
                invalidFileTypeMessageSummary="Type de fichier invalide"
                (onSelect)="onUpload($event)"
                [style]="{ width: '100%' }"
            />
            <p-button
                class="w-1/4 mt-8 mx-2 flex items-end"
                icon="pi pi-times"
                (click)="clear()"
                severity="danger"
                [style]="{ width: '100%' }"
                [disabled]="!poi.cover"
            />
            <p-button
                class="w-1/4 mt-8 flex items-end"
                icon="pi pi-eye"
                (click)="dialogImage = true"
                [style]="{ width: '100%' }"
                [disabled]="!poi.cover"
            />
        </div>
        <p-floatLabel class="w-full mt-8">
            <input type="text" pInputText [(ngModel)]="poi.name" placeholder="Nom" class="w-full" />
            <label>Nom</label>
        </p-floatLabel>
        <p-floatLabel class="w-full mt-8">
            <textarea
                rows="5"
                cols="30"
                pInputTextarea
                [(ngModel)]="poi.description"
                [autoResize]="true"
                class="w-full"
            ></textarea>
            <label>Description</label>
        </p-floatLabel>
        <p-floatLabel class="w-full mt-8" *ngIf="!selectedId">
            <p-dropdown
                [options]="cities"
                [(ngModel)]="poi.city"
                placeholder="Ville"
                optionLabel="label"
                [style]="{ width: '100%' }"
                [filter]="true"
            >
                <ng-template pTemplate="filter">
                    <input
                        type="text"
                        pInputText
                        class="w-full"
                        placeholder="Filtre"
                        [(ngModel)]="searchCity"
                        (keyup)="debouncedSearchCity()"
                    />
                </ng-template>
            </p-dropdown>
            <label>Ville</label>
        </p-floatLabel>
        <p-floatLabel class="w-full mt-8" *ngIf="!selectedId">
            <input
                type="text"
                pInputText
                [(ngModel)]="poi.address"
                placeholder="Adresse"
                class="w-full"
            />
            <label>Adresse</label>
        </p-floatLabel>
        <p-floatLabel class="w-full mt-8" *ngIf="!selectedId">
            <input
                type="number"
                pInputText
                [(ngModel)]="poi.latitude"
                placeholder="Latitude"
                class="w-full"
            />
            <label>Latitude</label>
        </p-floatLabel>
        <p-floatLabel class="w-full mt-8" *ngIf="!selectedId">
            <input
                type="number"
                pInputText
                [(ngModel)]="poi.longitude"
                placeholder="Longitude"
                class="w-full"
            />
            <label>Longitude</label>
        </p-floatLabel>
        <p-button
            *ngIf="!selectedId"
            class="w-1/2 mt-8"
            label="Enregistrer"
            [loading]="loadingSave"
            [rounded]="true"
            (click)="save()"
            [style]="{ width: '100%' }"
            [disabled]="
                !poi.type ||
                !poi.cover ||
                !poi.name ||
                !poi.description ||
                !poi.city ||
                !poi.address ||
                !poi.latitude ||
                !poi.longitude
            "
        />
        <p-button
            *ngIf="selectedId"
            class="w-1/2 mt-8"
            label="Enregistrer"
            [loading]="loadingSave"
            [rounded]="true"
            (click)="save()"
            [style]="{ width: '100%' }"
            [disabled]="!poi.cover || !poi.name || !poi.description"
        />
        <div *ngIf="errorSave" class="mt-5">
            <span class="text-red-500">{{ errorSave }}</span>
        </div>
    </div>
</p-dialog>

<p-dialog [(visible)]="dialogImage" *ngIf="dialogImage" [modal]="true">
    <p-image [src]="selectedImage" alt="Image" width="500" />
</p-dialog>

<p-dialog
    [modal]="true"
    [(visible)]="dialogDescription"
    *ngIf="dialogDescription"
    [style]="{ width: '40rem' }"
>
    <span>{{ selectedDescription }}</span>
</p-dialog>
