<p-toast></p-toast>
<div class="relative w-60 h-40 cursor-pointer">
    <div class="text-white z-10 relative mt-14 ml-2 h-full">
        <p class="text-sm shadow-black font-['Urbanist'] font-bold text-[var(--primary)]">
            {{ ticket?.title }}
        </p>
        <p class="text-xs shadow-black font-['Urbanist'] text-[var(--primary)] mb-4">
            {{ ticket?.description?.slice(0, 70) }}...
        </p>
        <p class="text-sm shadow-black font-['Urbanist'] font-bold text-[var(--primary)] mb-3">
            Prix: {{ ticket?.price }}€
        </p>
        <p class="text-sm shadow-black font-['Urbanist'] font-bold text-[var(--primary)]">
            {{ ticket?.quantity }} billets restants
        </p>
    </div>
    <div
        class="absolute flex justify-center items-center cursor-pointer z-20 top-1/3 left-1/2"
        (click)="addTicketToBasket()"
    >
        <button
            *ngIf="authServices.user?.access_token"
            pButton
            class="w-full h-2/6"
            label="Acheter un billet"
        ></button>
    </div>
    <img
        [ngSrc]="
            ticket?.image?.url ??
            'https://www.timographie360.fr/photos/realisations/principal/vignettes/visite-virtuelle-arc-triomphe_80.jpg'
        "
        alt="avatar"
        class="object-cover rounded-xl z-0 opacity-30"
        fill
        [loading]="'auto'"
        (load)="isLoadingImage = false"
        (error)="isLoadingImage = false"
    />
    <div class="spinner" *ngIf="isLoadingImage">Loading...</div>
</div>
