<p-toast></p-toast>
<div class="p-card mt-8">
    <div class="p-card-body">
        <div class="image-container">
            <img
                [ngSrc]="
                    ticket?.poi?.cover?.url ??
                    'https://www.timographie360.fr/photos/realisations/principal/vignettes/visite-virtuelle-arc-triomphe_80.jpg'
                "
                alt="Ticket avatar"
                class="eiffel-image"
                [loading]="'auto'"
                (load)="isLoadingImage = false"
                (error)="isLoadingImage = false"
                fill
            />
            <img
                ngSrc="assets/poi/ticket_asset.png"
                alt="Ticket"
                class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2"
                width="60"
                height="60"
            />
        </div>
        <div class="ticket-content">
            <h2>{{ ticket?.title }}</h2>
            <p>{{ ticket?.description }}</p>
            <div *ngIf="canBuy" class="ticket-info">
                <img
                    ngSrc="assets/poi/lightning_asset.png"
                    alt="lightning bolt"
                    width="15"
                    height="15"
                />
                <span class="ml-2" *ngIf="ticket && ticket.quantity > 0"
                    >{{ ticket.quantity }} Billets restants</span
                >
                <span class="ml-2" *ngIf="ticket && ticket.quantity <= 0">Rupture de stock</span>
            </div>
            <div class="price-button">
                <span class="price">{{ ticket?.price }} €</span>
                <button
                    *ngIf="!authServices.user?.poiId && authServices.user?.access_token && canBuy"
                    pButton
                    type="button"
                    (click)="addTicketToBasket()"
                    label="Commander"
                ></button>
            </div>
        </div>
    </div>
</div>
