<p-panel [showHeader]="false">
    <div class="comment-container">
        <div class="comment-header">
            <p-avatar [image]="author?.avatar?.url"></p-avatar>
            <span class="comment-username">{{ author?.username }}</span>
        </div>
        <div class="comment-body">
            <p>
                {{ comment }}
            </p>
            <div class="comment-footer">
                <span class="comment-date">{{ date | timeAgo }}</span>
                <span class="comment-likes"
                    >{{ nbrLikes }} like{{ nbrLikes && nbrLikes > 1 ? 's' : '' }}</span
                >
                <span *ngIf="isMyComment" (click)="deleteComment()" class="deletePost"
                    >Supprimer mon commentaire</span
                >
                <i
                    *ngIf="!isMyComment"
                    class="cursor-pointer pi pi-heart{{ isLiked ? '-fill' : '' }}"
                    (click)="isLiked ? dislike() : like()"
                    style="font-size: 1rem"
                ></i>
                <!--<p-button icon="pi pi-reply" label="Reply" class="p-button-text"></p-button>-->
            </div>
        </div>
    </div>
</p-panel>
