<div
    class="mt-10 w-full h-72 flex flex-col gap-8 justify-center items-center bg-[var(--primary)] text-center bg-opacity-60 rounded-xl"
>
    <h3 class="text-3xl text-black font-['Urbanist'] font-semibold">
        {{ nbrPaid }} places vendues
    </h3>
    <p-avatarGroup styleClass="mb-3">
        <p-avatarGroup styleClass="mb-3">
            <p-avatar
                *ngFor="let user of users | slice: 0 : 10"
                [image]="user.avatar?.url"
                size="large"
                shape="circle"
            />
            <p-avatar
                *ngIf="users.length > 10"
                [label]="(users.length - 10).toString()"
                shape="circle"
                size="large"
                [style]="{ 'background-color': '#9c27b0', color: '#ffffff' }"
            />
        </p-avatarGroup>
    </p-avatarGroup>
</div>
