<button
    pButton
    [outlined]="true"
    icon="pi pi-plus"
    [style]="{
        border: '2px solid grey',
        width: '270px',
        gap: '10px',
        borderRadius: '9999px',
        marginBottom: '20px'
    }"
    (click)="openDialog()"
>
    Créer une mission
</button>
<div class="flex flex-row flex-wrap gap-20">
    <app-my-mission-card
        *ngFor="let quest of quests; index as i"
        [quest]="quest"
        [isPoi]="true"
        [questNbr]="i + 1"
        (reloadQuest)="reloadQuests()"
    ></app-my-mission-card>
</div>
<p-dialog
    header="Créer une mission"
    class="flex flex-col"
    [modal]="true"
    [draggable]="false"
    [(visible)]="showDialog"
    [style]="{ width: '50rem', borderRadius: '9999px' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <ng-template pTemplate="content">
        <app-create-quest [poiId]="poiId" (reloadQuest)="reloadQuests()"></app-create-quest>
    </ng-template>
</p-dialog>
<p-paginator
    *ngIf="lastPage > 1 || itemsPerPage > 12"
    (onPageChange)="onPageChange($event)"
    [first]="firstPage"
    [rows]="meta.perPage"
    [totalRecords]="totalPages"
    [rowsPerPageOptions]="[12, 24, 36]"
/>
