.title-poi {
  text-shadow: 0px 0px 13.7px rgba(255, 255, 255, 0.45);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.70);
  font-family: Urbanist, sans-serif;
  font-size: 150px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: rgba(255,255, 255, 0.20);
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;  /* Ajustez la hauteur selon vos besoins */
}


.scroll-container {
  scroll-behavior: smooth; /* Défilement fluide */
}

.scroll-button {
  cursor: pointer;
}

.post-scrollbar::-webkit-scrollbar{
  width: 2px;
}

.post-scrollbar::-webkit-scrollbar-track{
  background-color: var(--border-grey);
  border-radius: 10px;
}

.post-scrollbar::-webkit-scrollbar-thumb{
  background-color: var(--primary);
  border-radius: 10px;
}
