<div class="container-fluid mt-28 flex align-content-center justify-center mb-20">
    <div
        class="bg-white p-8 border rounded-3xl border-slate-300 shadow-lg shadow-gray-500/50 sm:w-full mx-5 lg:w-5/6"
    >
        <h1 class="text-4xl font-extrabold text-left">
            Bienvenue dans l'application de quiz TripMemories
        </h1>
        <p class="text-left text-lg">
            Ce quiz {{ poiName ? 'sur ' + poiName : '' }} contiendra un total de
            {{ nbrQuestions }} questions. Chaque question vaut 10 points
        </p>
        <h4 class="text-2xl font-bold mt-5">Règles :</h4>
        <ol class="list-decimal ml-5 text-lg">
            <li>Une réponse correcte vous donne 10 points</li>
            <li>Une réponse incorrecte vous retire 5 points</li>
            <li>Vous aurez 10 secondes pour répondre à chaque question</li>
            <li>Rafraîchir la page réinitialisera le quiz</li>
            <li *ngIf="!name">
                Comme vous n'êtes pas connecté, votre progression ne sera pas enregistré
            </li>
        </ol>
        <h1 class="text-center font-semibold text-4xl mt-10 mb-10">
            Bonne chance à toi {{ name && name.split(' ')[0] }} !
        </h1>

        <div class="flex justify-center">
            <div class="flex flex-row flex-wrap justify-center sm:w-full md:w-11/12 lg:w-1/2">
                <button
                    pButton
                    class="transition mt-5 ease-in-out delay-150 bg-blue-500 hover:-translate-y-1 hover:scale-110 duration-300 shadow-lg shadow-blue-500/50 py-2 px-3 rounded-lg font-bold text-white hover:bg-blue-600"
                    [disabled]="nbrQuestions === 0"
                    (click)="start()"
                >
                    Commencer le quiz
                </button>
            </div>
        </div>
    </div>
</div>
