<div class="p-d-flex p-jc-center p-ai-center w-full mt-12">
    <div class="p-card p-shadow-5 h-full w-3/5 m-auto">
        <div class="p-card-header p-text-center">
            <img
                (click)="goTo('/')"
                class="cursor-pointer"
                ngSrc="assets/logo/Logo_tripmemories.png"
                alt="tripmemories logo"
                width="250"
                height="250"
            />
        </div>
        <div class="p-card-body">
            <h3 class="p-text-center !text-3xl font-bold">Prêt à monter à bord ? 👋</h3>
            <p class="p-text-center !text-lg">Entre tes infos pour créer ton compte TripMemories</p>
            <!--            <div class="p-d-flex p-jc-center p-mb-3">
                <button
                    pButton
                    class="p-button-rounded p-button-secondary p-button-outlined"
                    icon="pi pi-google"
                    label="Continuer avec Google"
                ></button>
            </div>
            <hr />-->
            <form>
                <div class="p-field p-mb-3">
                    <input
                        pInputText
                        placeholder="Prénom"
                        id="firstname"
                        name="firstname"
                        [class]="error ? 'ng-invalid ng-dirty' : ''"
                        [(ngModel)]="user.firstname"
                    />
                </div>
                <div class="p-field p-mb-3">
                    <input
                        pInputText
                        placeholder="Nom de famille"
                        id="lastname"
                        name="lastname"
                        [class]="error ? 'ng-invalid ng-dirty' : ''"
                        [(ngModel)]="user.lastname"
                    />
                </div>
                <div class="p-field p-mb-3">
                    <input
                        pInputText
                        type="email"
                        id="email"
                        placeholder="email"
                        name="email"
                        [class]="error ? 'ng-invalid ng-dirty' : ''"
                        [(ngModel)]="user.email"
                    />
                </div>
                <div class="p-field p-mb-3">
                    <input
                        pInputText
                        id="username"
                        placeholder="Nom d'utilisateur"
                        name="username"
                        [class]="error ? 'ng-invalid ng-dirty' : ''"
                        [(ngModel)]="user.username"
                    />
                </div>
                <div class="flex flex-col flex-wrap gap-4 justify-between mb-8">
                    <p-password
                        [(ngModel)]="user.password"
                        id="password"
                        name="password"
                        placeholder="Mot de passe"
                        class="w-full"
                        [toggleMask]="true"
                    >
                    </p-password>
                    <p-password
                        [(ngModel)]="user.password_confirmation"
                        id="confirmPassword"
                        name="confirmPassword"
                        class="w-full"
                        placeholder="Confirmer le mot de passe"
                        [toggleMask]="true"
                    >
                    </p-password>
                </div>
                <div class="p-field p-mb-3">
                    <button
                        pButton
                        [disabled]="isLoading"
                        (click)="register()"
                        label="S'inscrire"
                        class="p-button-primary p-button-block"
                    ></button>
                </div>
                <div class="p-field p-text-center">
                    <p>
                        Tu as déjà un compte ?
                        <a [routerLink]="['/login']">Se connecter</a>
                    </p>
                </div>
            </form>
            <p-progressBar
                mode="indeterminate"
                *ngIf="isLoading"
                [style]="{ height: '6px', width: '100%' }"
            ></p-progressBar>
            <p-message
                *ngIf="ok"
                class="self-center mt-6"
                severity="success"
                text="L'inscription est réussie. Vous pouvez maintenant vous connecter."
            ></p-message>
            <p-message
                *ngIf="error"
                class="self-center mt-6"
                severity="error"
                text="Une erreur lors de l'inscription est survenue, veuillez vérifier les informations saisies."
            ></p-message>
        </div>
    </div>
</div>
