<div class="flex flex-col items-center mt-10">
    <input
        type="text"
        pInputText
        class="w-3/5"
        [(ngModel)]="search"
        (input)="debouncedSearch()"
        placeholder="Rechercher par username, nom d'utilisateur"
    />
    <p-table
        [value]="users"
        [paginator]="true"
        class="w-4/5 mt-10"
        [rowsPerPageOptions]="[10, 20, 30]"
        [rows]="itemsPerPage"
        [totalRecords]="totalPages"
        [lazy]="true"
        (onPage)="onPageChange($event)"
        [loading]="loading"
    >
        <ng-template pTemplate="header">
            <tr>
                <th>Id</th>
                <th>Poi</th>
                <th>Contact</th>
                <th>Profit</th>
                <th>À reverser</th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.poi.name }} ({{ user.poi.id }})</td>
                <td>{{ user.email }}</td>
                <td>
                    <div
                        class="flex items-center cursor-pointer"
                        (click)="openProfitDialog(user.poiId)"
                    >
                        <span>
                            {{ user.totalEarned + ' €' }}
                        </span>
                        <div>
                            <i class="pi pi-eye ml-2" pBadge></i>
                        </div>
                    </div>
                </td>
                <td>{{ (user.totalEarned - user.totalEarned * 0.2).toFixed(2) + ' €' }}</td>
                <td>TODO</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
    [modal]="true"
    [(visible)]="profitDialog"
    *ngIf="profitDialog"
    [style]="{ width: '75rem' }"
>
    <p-chart type="line" [data]="data" />
</p-dialog>
