<button
    pButton
    [outlined]="true"
    icon="pi pi-plus"
    [style]="{
        border: '2px solid grey',
        width: '270px',
        gap: '10px',
        borderRadius: '9999px',
        marginBottom: '20px'
    }"
    (click)="openDialog()"
>
    Créer une question
</button>
<div *ngIf="loading">
    <p-progressBar mode="indeterminate" [style]="{ height: '6px', width: '100%' }"></p-progressBar>
</div>
<div *ngIf="!loading" class="flex flex-row flex-wrap gap-20">
    <app-card-questions-quiz
        *ngFor="let question of questions"
        [question]="question"
        (reload)="reloadQuestions()"
    ></app-card-questions-quiz>
</div>
<p-dialog
    header="Créer une question"
    class="flex flex-col"
    [modal]="true"
    [draggable]="false"
    [(visible)]="showDialog"
    [style]="{ width: '50rem', borderRadius: '9999px' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
>
    <ng-template pTemplate="content">
        <app-create-question></app-create-question>
    </ng-template>
</p-dialog>
<p-paginator
    *ngIf="lastPage > 1 || itemsPerPage > 10"
    (onPageChange)="onPageChange($event)"
    [first]="firstPage"
    [rows]="meta.perPage"
    [totalRecords]="totalPages"
    [rowsPerPageOptions]="[10, 20, 30]"
/>
